@use '@blueprintjs/core/lib/scss/variables' as bp;
@use './abstracts';

.bp6-radio-group .bp6-label {
  font-weight: bold;
}

.bp6-form-group .bp6-label {
  font-weight: bold;
}

label.bp6-checkbox {
  font-weight: bold;
}

.bp6-dark .bp6-navbar {
  box-shadow: none;
}

.bp6-segmented-control > .bp6-button.bp6-minimal {
  color: bp.$pt-text-color;
}
