@import './abstracts/';

.bp5-radio-group .bp5-label {
  font-weight: bold;
}

.bp5-form-group .bp5-label {
  font-weight: bold;
}

label.bp5-checkbox {
  font-weight: bold;
}

.bp5-dark .bp5-navbar {
  box-shadow: none;
}

.bp5-segmented-control > .bp5-button.bp5-minimal {
  color: $pt-text-color;
}

div.bp5-section {
  margin-bottom: 10px;
}
