.table-row {
    &--selected {
        background-color: powderblue;
    }
}

.attack-buffs {
    display: flex;
    flex-direction: row;
    gap: 1.5em
}

.unique-weapon-selectors {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.negative-skill {
    color: red;
}