.damage {
  min-width: 1080px;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: auto;
  grid-template-areas:
    'weapon damage'
    'weapon buff'
    'monster buff'
    'monster .';
}

// Weapons
.weapon {
  grid-area: weapon;
  &--selectors {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 350px;
  }
}
.unique-weapon-selectors {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

// Damage Results
.damage-results {
  grid-area: damage;
}

// Monsters
.monster {
  grid-area: monster;
  &--selectors {
    display: flex;
    gap: 1em;
  }
}

// Hitzones
.table-row {
  &--selected {
    background-color: powderblue;
  }
}

// Buffs
.attack-buffs-container {
  grid-area: buff;
  align-self: end;
}
.attack-buffs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5em;

  .bp5-control-group.bp5-vertical {
    justify-content: space-between;
  }
}

.negative-skill {
  color: red;
}
