@import '@blueprintjs/core/lib/scss/variables';
@import './abstracts';

$navbarHeight: 50px;
$sideMenuTransition: 0.3s;

.root-layout {
  min-height: 100vh;
  position: relative;
}

// THEMING - LIGHT MODE
.root-layout,
.sidenav,
footer {
  background-color: $pt-app-background-color;
}

// THEMING - DARK MODE
.root-layout.bp6-dark,
.bp6-dark footer,
.bp6-dark .sidenav {
  background-color: $pt-dark-app-background-color;
}

.bp6-dark .danger-text {
  color: $pt-intent-danger;
}

// TABLE

// Dark theme zebra-striping
.bp6-dark tr.table-row:nth-child(even):not(.table-row--selected) {
  background-color: $dark-gray5;
  td {
    color: $pt-dark-text-color;
  }
}

// Zebra-striping
tr.table-row:nth-child(even):not(.table-row--selected) {
  background-color: $light-gray1;
  td {
    color: $pt-text-color;
  }
}

.warning-banner {
  text-align: center;
}

.navigation {
  &__header {
    gap: 1em;
  }

  .top-navbar {
    height: $navbarHeight;

    // Hide menu buttons for desktop sizes
    @media (min-width: $media-mobile-width) {
      .menu-button {
        display: none;
      }
    }
    // Hide navbar buttons for mobile sizes
    @media (max-width: $media-mobile-width) {
      &__page-buttons,
      &__extra {
        display: none;
      }
    }
  }

  .sidenav {
    height: 100%;
    width: 0px;
    position: absolute;
    z-index: 10000;
    top: $navbarHeight;
    left: 0;
    transition: $sideMenuTransition;
    overflow-x: hidden;

    &__item {
      width: 100%;
      text-wrap: nowrap;
      justify-content: left;
    }

    &__content {
      width: 100%;
    }

    &__overlay {
      display: none;
      width: 100%;
      height: 100%;
      background-color: grey;
      opacity: 0.5;
      z-index: 9999;
      position: absolute;
      top: $navbarHeight;
      left: 0;
    }
  }

  .sidenav.sidenav--open {
    width: 180px;
    transition: $sideMenuTransition;
  }

  .sidenav__overlay.sidenav--open {
    display: block;
  }
}

// Main body
.content-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem; // Footer height + some padding

  #content {
    padding: 1em 0.5em 0 0.5em;
    @media screen and (min-width: $media-mobile-width) {
      max-width: 1500px;
    }
  }
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  #app-version {
    font-weight: bold;
  }
}

.flex-container {
  @include flex-container();
}

.flex-container-wrap {
  @include flex-container-wrap();
}

.danger-text {
  color: red;
}
