@use '../../abstracts' as abstracts;

.buffs {
  flex: 5 1 500px;
  &--selectors {
    @include abstracts.flex-container-wrap();
    gap: 1em;

    > div {
      flex: 1 1 150px;
    }

    .bp6-control-group.bp6-vertical {
      justify-content: space-between;
    }
  }
}
