.attack-buffs {
  justify-content: space-between;
  // TODO: Apply as mixin?
  margin: 0 0.5em 0.9em 0.5em;

  .bp5-control-group.bp5-vertical {
    justify-content: space-between;
  }
}

.negative-skill {
  color: red;
}
