@import '../../abstracts/';

.monster {
  max-width: $media-mobile-width;
  &--selectors {
    @include flex-container-wrap();

    .multiplier-labels {
      justify-content: space-between;
    }

    .multiplier {
      text-indent: 0.5em;
      font-size: 8pt;
      label {
        text-transform: uppercase;
      }
    }
  }
}

.hitzone-table {
  table-layout: fixed;
  tr.table-row {
    padding: 0.35em;
  }

  th,
  td {
    text-align: center;
    padding: 0.625em;
  }

  .table-row {
    &--selected {
      background-color: $selection-color;
      td {
        color: white;
      }
    }
  }
}

@media screen and (max-width: $media-mobile-width) {
  .hitzone-table {
    border: 0;
    width: 100%;
    thead {
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    td.cell {
      border: none;
    }
    td.cell[scope='row'] {
      font-weight: bold;
    }

    tr {
      display: block;
    }

    // More specific selector to override blueprint
    td.cell {
      display: block;
      font-size: 0.9em;
      text-align: right;
    }

    td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }
}
