@use '@blueprintjs/core/lib/scss/variables' as bp;
@use '../../abstracts' as abstracts;

.monster-pane {
  min-height: 600px;
  flex: 1 1 150px;
  min-width: abstracts.$min-width;
  container-type: inline-size;
  container-name: monster-pane;

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    justify-content: space-between;
  }
  &__selectors {
    display: flex;
    flex-direction: column;
    .multiplier {
      text-indent: 0.5em;
      font-size: 8pt;
      label {
        text-transform: uppercase;
      }
    }
  }

  .monster-info {
    @include abstracts.flex-container();
    align-items: center;
    justify-content: space-evenly;
    .multiplier {
      font-size: 9pt;
      text-wrap: nowrap;
      label {
        text-transform: uppercase;
      }
    }
  }
}

.select-level {
  width: fit-content;
}

// HITZONE TABLE
// Dark theme zebra-striping
.bp6-dark
  .hitzone-table
  tr.table-row:nth-child(even):not(.table-row--selected) {
  background-color: bp.$dark-gray5;
  td {
    color: bp.$pt-dark-text-color;
  }
}

// Zebra-striping
.hitzone-table tr.table-row:nth-child(even):not(.table-row--selected) {
  background-color: bp.$light-gray1;
  td {
    color: bp.$pt-text-color;
  }
}

.bp6-html-table.bp6-compact.hitzone-table {
  text-wrap: nowrap;
  table-layout: fixed;
  tr.table-row {
    padding: 0.35em;
  }

  th,
  td {
    text-align: center;
    padding: 0.625em;
  }

  td.cell[scope='row'] {
    font-weight: bold;
  }

  .table-row {
    &--selected {
      background-color: abstracts.$selection-color;
      td {
        color: white;
      }
    }
  }
}

// Mobile table styling
@container monster-pane (width < 550px) {
  .bp6-html-table.bp6-compact.hitzone-table {
    border: 0;
    width: 100%;
    thead {
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    td.cell {
      border: none;
    }
    td.cell[scope='row'] {
      font-weight: bold;
    }

    tr {
      display: block;
    }

    // More specific selector to override blueprint
    td.cell {
      display: block;
      font-size: 0.9em;
      text-align: right;
    }

    td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }
}
