@use '@blueprintjs/core/lib/scss/variables' as bp;
@use 'sass:color';
@use '../../abstracts' as abstracts;

.weapon-pane {
  min-height: 345px;
  flex: 1 1 450px;

  &__selectors {
    @include abstracts.flex-container();
    flex-direction: column;
    align-items: flex-start;
  }
}

.bp6-dark .weapon-info__sharpness {
  border: 1px solid white;
}

.weapon-info {
  @include abstracts.flex-container();

  &__sharpness {
    border: 1px solid black;
    background-color: bp.$dark-gray4; // Same color as Select elements
    height: 1.2em;
    width: 210px;
    padding: 1px;
    margin-bottom: 0.5em;
    .sharpness-cell {
      height: 100%;
      float: left;
    }
    .sharp0 {
      background-color: abstracts.$sharpness-red;
    }
    .sharp1 {
      background-color: abstracts.$sharpness-orange;
    }
    .sharp2 {
      background-color: abstracts.$sharpness-yellow;
    }
    .sharp3 {
      background-color: abstracts.$sharpness-green;
    }
    .sharp4 {
      background-color: abstracts.$sharpness-blue;
    }
    .sharp5 {
      background-color: abstracts.$sharpness-white;
    }
    .sharp6 {
      background-color: abstracts.$sharpness-purple;
    }
  }

  &__stats {
    label {
      font-weight: bold;
    }

    .element-type {
      font-size: 8pt;
      text-transform: uppercase;
    }

    .slots {
      display: flex;
      align-items: center;
      gap: 0.2em;
    }
  }
}

.unique-weapon-selectors {
  @include abstracts.flex-container(1.5em);
}

/* Applies a border */
@mixin sharpness-select($color) {
  border-bottom: 3px solid $color;
}

@mixin sharpness-select-button($color, $text-color: $pt-text-color) {
  @include sharpness-select($color);
  border-radius: 0px;
  width: 65px;
  &.bp6-button:not(.bp6-minimal):not(.bp6-intent-primary) {
    box-shadow: none;
    background-color: $color;
    color: $text-color;
  }
}

// Segmented control sharpness colors
.select-sharpness {
  &__mobile {
    &.sharp0 {
      @include sharpness-select(abstracts.$sharpness-red);
    }
    &.sharp1 {
      @include sharpness-select(abstracts.$sharpness-orange);
    }
    &.sharp2 {
      @include sharpness-select(abstracts.$sharpness-yellow);
    }
    &.sharp3 {
      @include sharpness-select(abstracts.$sharpness-green);
    }
    &.sharp4 {
      @include sharpness-select(abstracts.$sharpness-blue);
    }
    &.sharp5 {
      @include sharpness-select(abstracts.$sharpness-white);
    }
    &.sharp6 {
      @include sharpness-select(abstracts.$sharpness-purple);
    }
  }

  .sharp0 {
    @include sharpness-select-button(
      abstracts.$sharpness-red,
      bp.$pt-dark-text-color
    );
  }
  .sharp1 {
    @include sharpness-select-button(
      abstracts.$sharpness-orange,
      bp.$pt-dark-text-color
    );
  }
  .sharp2 {
    @include sharpness-select-button(
      abstracts.$sharpness-yellow,
      bp.$pt-text-color
    );
  }
  .sharp3 {
    @include sharpness-select-button(
      abstracts.$sharpness-green,
      bp.$pt-text-color
    );
  }
  .sharp4 {
    @include sharpness-select-button(
      abstracts.$sharpness-blue,
      bp.$pt-dark-text-color
    );
  }
  .sharp5 {
    @include sharpness-select-button(
      abstracts.$sharpness-white,
      bp.$pt-text-color
    );
  }
  .sharp6 {
    @include sharpness-select-button(
      abstracts.$sharpness-purple,
      bp.$pt-text-color
    );
  }
}
