.weapon {
  &--selectors {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* // TODO: This space is for the sharpness graph/weapon stats */
    // min-height: 350px;
  }
}
.unique-weapon-selectors {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}
